


.skip a{
  background: white;
  position: absolute;
  left: 41vw;
  top: -40px;
  padding: 6px;
  color: blue;
  border: 2px black;
  z-index: 1; 
}

.skip a:focus{
  top: 10px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
}

body{
   display: grid;
   grid-template-rows: auto auto auto auto;
   font-family: "Audiowide", sans-serif;
}

header{
  display: block;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 2;
}

ul {
  font-family: "Audiowide", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

h1 {
	color: green;
  font-family: "Audiowide", sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding: 30px;
  text-align: center;
	
}

nav {
  background-color: #ffffff;
  margin: 25px 0px;
  overflow: hidden;
  font-family: "Audiowide", sans-serif;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 14px;
  text-decoration: none;
  font-size: 13px;
}

nav a:hover {
  background-color: rgb(19, 19, 19);
  color: rgb(255, 255, 255);
}

nav a.active {
  background-color: green;
  color: white;
  text-decoration: underline;
}

main {
  grid-row-start: 2;
  grid-row-end: 3;
}

.image_container {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center;
}

main .image_container img {
  border: 4px solid rgb(41, 41, 41);
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

main img {
  border: 4px solid rgb(41, 41, 41);
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* img container */

.image_flex{
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center;
}

.image_flex img{
  margin: 15px auto;
}

main img:hover {
  filter: drop-shadow(10px 10px rgb(41, 41, 41));

}

.image_container figure {
  display: flex;
  flex-wrap: wrap;
}

p {
  padding:30px;
  font-size: 18px;
}

aside{
  grid-row-start: 3;
  grid-row-end: 4;
}

#form{
  grid-area: 4/1/4/-1;
  padding: 5px;
  text-align: center;
  background-color: #505050;
  border-radius: 15px;
  margin: 10px;
}

#form span{
  font-size: 18px;
  font-weight: bold;
  color: black;
}

#form input{
  width: 40vw;
  font-size: 14px;
}

#form textarea{
  width: 60vw;
  height: 50px; 
  font-size: 14px;
}

#form button{
  font-size: 16px;
  font-weight: bold;
  min-width: max-content;
  min-height: max-content;
}

footer {
    background-image: url(../images/footer.jpg);
    grid-row-start: 4;
    grid-row-end: 5;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer h1 {
    padding: 30px;
    margin: 30px;
    background-color: rgb(39, 39, 39);
    color:rgb(255, 255, 255);
}

.background {
  background-color: white;
  color: black;
  width: 65%;
  margin: auto;
}

.animated { 
  border: none;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: left top; 
  -webkit-animation-duration: 1s;
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}

@-webkit-keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
  40% {-webkit-transform: translateY(-30px);} 
  60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
}

.bounce { 
  -webkit-animation-name: bounce; 
  animation-name: bounce; 
}


@media (prefers-reduced-motion) {
  .animated { 
      -webkit-animation-duration: 0s;
      animation-duration: 0s; 
   }
}

/*Tablet*/
@media all and (min-width:491px){

  .image_container figure {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
  
  .image_container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: orange;
    opacity: 0.9;
    /* width: 250%; */
    height: auto;
  }
  
  main .image_container img {
    border: 4px solid rgb(41, 41, 41);
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  
  .text_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  }
  
  @media all and (min-width: 992px) {
    .image_container figure {
      display: flex;
      flex-wrap: wrap;
      width: 20%;
    }
  
    .text_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
    }
  }


